<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weibo</title>
    <style>
        .comment {
            border: 1px red solid;
        }
    </style>
</head>
<body>
<form action="/weibo/add" method="post">
    <span>{{ user.username }} 的微博</span>
    <br>
    <input name="content" autocomplete="off">
    <br>
    <button type="submit">发表新微博</button>
</form>

{% for w in weibos %}
    <p>
        Weibo:  <br> {{ w.content }} from {{ w.user().username }}
        <a href="/weibo/delete?weibo_id={{ w.id }}">delete</a>
        <a href="/weibo/edit?weibo_id={{ w.id }}">edit</a>

        {% for c in w.comments() %}
            <div class="comment">
                Comment <br>{{ c.user().username }} : {{ c.content }}
                <a href="/comment/delete?comment_id={{ c.id }}">delete</a>
                <a href="/comment/edit?comment_id={{ c.id }}">edit</a>
            </div>
        {% endfor %}
    <form action="/comment/add" method="post">
        <input type="hidden" name="weibo_id" value="{{ w.id }}">
        <input name="content" autocomplete="off">
        <br>
        <button type="submit">添加评论</button>
    </form>
    </p>
{% endfor %}
</body>
</html>